/*
  backgrid-paginator
  http://github.com/wyuenho/backgrid

  Copyright (c) 2013 Jimmy Yuen Ho Wong and contributors
  Licensed under the MIT @license.
*/

.backgrid-paginator {
  background-color: #CCCCCC;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.backgrid-paginator ul {
  display: inline-block;
  *display: inline;
  margin: 5px 0;
  *zoom: 1;
}

.backgrid-paginator ul > li {
  display: inline;
}

.backgrid-paginator ul > li > a,
.backgrid-paginator ul > li > span {
  float: left;
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 30px;
  text-decoration: none;
}

.backgrid-paginator ul > li > a:hover,
.backgrid-paginator ul > .active > a,
.backgrid-paginator ul > .active > span {
  background-color: #f5f5f5;
}

.backgrid-paginator ul > .active > a,
.backgrid-paginator ul > .active > span {
  color: #999999;
  cursor: default;
}

.backgrid-paginator ul > .disabled > span,
.backgrid-paginator ul > .disabled > a,
.backgrid-paginator ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
}
